.appbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(45deg, #00A06B, #67BF7F, #85c1e9);
  background-size: 200% 200%;
  animation: toneChange 8s ease infinite;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

@keyframes toneChange {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
  .appbar-left {
    margin-left: 15px;
    flex: 1;
  }
  
  .appbar-logo {
    margin: 0;
    font-size: 24px;
    font-weight: 6000;
  }
  
  .appbar-center {
    margin-left: -50px;
    margin-right: 800px;
    flex: 2;
    display: flex;
    justify-content: left;
  }
  
  .appbar-right .appbar-link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease; /* Thêm transition cho tất cả thay đổi */
}

.appbar-right .appbar-link:hover {
    color: #e0e0e0; /* Màu sáng hơn khi hover */
    transform: scale(1.1); /* Phóng to nhẹ nhàng */
}
  

  .appbar-right {
    margin-right: 30px;
  }
  .search-form {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    gap: 10px;
    align-items: left;
  }
  
  .search-form input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
  }
  
  .search-form input[type="text"]::placeholder {
    color: #999;
  }
  
  .search-form button {
    background-color: #4ecdc4;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .search-form button:hover {
    background-color: #0d47a1;
  }